{% extends "base.html" %}

{% block content %}
<section class="section-container">
    <div class="container-fluid section-content">
        <h1>Courses Taught by {{ instructor_name }}</h1>
        <div class="row">
            {% for course in courses_taught %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ course.Course_Name }}</h3>
                        <p class="card-text"><b>Course Number: </b><a href="{{ url_for('course_view.course_details', course_number=course.Course_Number) }}">{{ course.Course_Number }}</a></p>
                        <p class="card-text"><b>Section Identifier:</b> {{ course.Section_Identifier }}</p>
                        <p class="card-text"><b>Credit Hours:</b> {{ course.Credit_Hour }}</p>
                        <p class="card-text"><b>Semester:</b> {{ course.Semester }}</p>
                        <p class="card-text"><b>Year:</b> {{ course.Year }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='cards.css') }}" />

{% endblock %}
