{% extends "base.html" %}

{% block content %}
<section class="section-container">
    <div class="container-fluid section-content">
        <h1>Student Details: {{ student_number }}</h1>
        <div class="row">
            {% for grade in grades %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><b>Student Name:</b> {{grade.Student_Name}}</h3>
                        <p class="card-text"><b>Course Number:</b> <a href="{{ url_for('course_view.course_details', course_number=grade.Course_Number) }}">{{ grade.Course_Number }}</a></p>
                        <p class="card-text"><b>Credit Name:</b> {{ grade.Course_Name }}</p>
                        <p class="card-text"><b>Credit Hours:</b> {{ grade.Credit_Hour }}</p>
                        <p class="card-text"><b>Semester:</b> {{ grade.Semester }}</p>
                        <p class="card-text"><b>Year:</b> {{ grade.Year }}</p>
                        <p class="card-text"><b>Department:</b> {{ grade.Department }}</p>
                        <p class="card-text"><b>Instructor:</b> <a href="{{ url_for('instructor_view.instructor_details', instructor_name=grade.Instructor) }}">{{ grade.Instructor }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='cards.css') }}" />
{% endblock %}
